{% extends 'admin.html.twig' %}

{% block title %}CarteVisaPrepayee{% endblock %}

{% block body %}

<div class="card">

    <div class="card-header">
          <h3 class="card-title">detail carte VISA prepayée </h3>
          {% if carte_visa_prepayee.valide == true %}<span class="badge badge-success"> Carte déjà active </span> {% endif %}
    </div>

    <table class="table">
        <tbody>
             <tr>
                <th>Id</th>
                <td>{{ carte_visa_prepayee.id }}</td>
            </tr>

            <tr>
                <th>Type de carte</th>
                <td>{{ carte_visa_prepayee.typeDeCarte.libelle }}</td>
            </tr>
           
            <tr>
                <th>Nom</th>
                <td>{{ carte_visa_prepayee.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ carte_visa_prepayee.prenom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ carte_visa_prepayee.dateDeNaissance ? carte_visa_prepayee.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Ville de naissance</th>
                <td>{{ carte_visa_prepayee.villeDeNaissance }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ carte_visa_prepayee.profession }}</td>
            </tr>

            <tr>
                <th>Nom du père</th>
                <td>{{ carte_visa_prepayee.nomDuPere }}</td>
            </tr>

            <tr>
                <th>Prénom du père</th>
                <td>{{ carte_visa_prepayee.prenomDuPere }}</td>
            </tr>

            <tr>
                <th>Nom de la mère</th>
                <td>{{ carte_visa_prepayee.nomDeLaMere }}</td>
            </tr>

            <tr>
                <th>Prenom de la mère</th>
                <td>{{ carte_visa_prepayee.prenomDeLaMere }}</td>
            </tr>

            <tr>
                <th>Sexe</th>
                <td>{{ carte_visa_prepayee.sexe }}</td>
            </tr>
            <tr>
                <th>Ville et quartier de la résidence du client</th>
                <td>{{ carte_visa_prepayee.ville }}</td>
            </tr>

            <tr>
                <th>Type de pièce d'identité du client</th>
                <td>{{ carte_visa_prepayee.typepieceidentite.libelle }}</td>
            </tr>

            <tr>
                <th>Numéro de la pièce d'identité (CNI, passport, ...)
                {% if carte_visa_prepayee.pieceIdentiterecto is defined and carte_visa_prepayee.pieceIdentiterecto is not null %}
                        <a target="blank" href="/uploads/{{ carte_visa_prepayee.pieceIdentiterecto }}"  style="margin-right: 5px;">
                        <i class="fas fa-download">Recto</i> </a>
                {% endif %}

                {% if carte_visa_prepayee.pieceIdentiteverso is defined and carte_visa_prepayee.pieceIdentiteverso is not null %}
                        <a target="blank" href="/uploads/{{ carte_visa_prepayee.pieceIdentiteverso }}"  style="margin-right: 5px;">
                        <i class="fas fa-download">Verso</i> </a>
                {% endif %}

                </th>
                <td>{{ carte_visa_prepayee.numeroDeCNIOuPassport }}</td>
            </tr>





            {% if carte_visa_prepayee.PlanDeLocalisation is defined and carte_visa_prepayee.PlanDeLocalisation is not null %}
            <tr>
                <th>Plan de localisation
                    <a target="blank" href="/uploads/{{ carte_visa_prepayee.PlanDeLocalisation }}"  style="margin-right: 5px;">
                    <i class="fas fa-download"></i> </a>
                </th>
                <td>
                    
                </td>
            </tr>
            {% endif %}







            <tr>
                <th>Numéro d'identifiant unique</th>
                <td>{{ carte_visa_prepayee.numeroIdentifiantUnique }}</td>
            </tr>
            <tr>
                <th>Adresse email client</th>
                <td>
                <span id="emailc">{{ carte_visa_prepayee.emailClient }}</span>
                    
                    <button type="button" class="btn btn-secondary" id="emailb">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </button>
                </td>
            </tr>
            <tr>
                <th>Numéro de télephone du client</th>
                <td>{{ carte_visa_prepayee.numeroDeTelephone }}</td>
            </tr>
            <tr>
                <th>Numéro de la carte visa prépayée affecter au client</th>
                <td>{{ carte_visa_prepayee.numeroDeLaCarteVisaPrepayee }}</td>
            </tr>
            <tr>
                <th>Numéro d'identifiant unique</th>
                <td>{{ carte_visa_prepayee.numeroIdentifiantUnique }}</td>
            </tr>


            <tr>
                <td>
                    {% if carte_visa_prepayee.valide == true %}
                        <span class="badge badge-success"> Carte déjà active </span>
                    {% else %}
                        
                        {% if is_granted('ROLE_VALID_CARTE') %}
                            <a class="btn btn-primary" href="{{ path('app_carte_visa_prepayee_valider', {'id': carte_visa_prepayee.id}) }}">Validé une carte</a>
                        {%endif%}
                    {% endif %}
                </td>
                <td></td>
            </tr>
             <tr>
                <td><a class="btn btn-primary" href="{{ path('app_carte_visa_prepayee_index') }}">Liste des cartes VISA prepayée</a></td>
                <td></td>
            </tr>
             <tr>
                <td><a class="btn btn-info" href="{{ path('app_carte_visa_prepayee_edit', {'id': carte_visa_prepayee.id}) }}">Editer</a></td>
                <td></td>
            </tr>
             <tr>
                <td>{{ include('carte_visa_prepayee/_delete_form.html.twig') }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    

    

    

 </div> 
{% endblock %}



{% block javascripts %}

    <!-- DataTables  & Plugins -->
    <script src="{{ asset('AdminLTE-master/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('AdminLTE-master/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{ asset('AdminLTE-master/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{ asset('AdminLTE-master/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
    <script src="{{ asset('AdminLTE-master/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{ asset('AdminLTE-master/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
    <script src="{{ asset('AdminLTE-master/plugins/jszip/jszip.min.js')}}"></script>
    <script src="{{ asset('AdminLTE-master/plugins/pdfmake/pdfmake.min.js')}}"></script>
    <script src="{{ asset('AdminLTE-master/plugins/pdfmake/vfs_fonts.js')}}"></script>
    <script src="{{ asset('AdminLTE-master/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{ asset('AdminLTE-master/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{ asset('AdminLTE-master/plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>

<!-- Démo
    <script src="{{ asset('AdminLTE-master/dist/js/demo.js')}}"></script>
 -->
<script>

    // get the text from the DOM Element: 
    const textToCopy = document.querySelector('#emailc').innerText

    // when someone clicks on the <a class="copy-text"> element 
    // (which should be a <button>), execute the copy command:
    document.querySelector('#emailb').addEventListener('click' , ()=> {
    navigator.clipboard.writeText(textToCopy).then(
        function() {
        /* clipboard successfully set */
        window.alert('Success! The text was copied to your clipboard') 
        }, 
        function() {
        /* clipboard write failed */
        window.alert('Opps! Your browser does not support the Clipboard API')
        }
    )
    })

</script>
{% endblock %}