{% extends 'base.html.twig' %}


{% block title %}Blog{% endblock %}

{% block headerimage %}

    <!-- Header -->
    <header id="header_subpage1" style="background-image:url({{ asset('img/blog.jpg') }})">
        <div class="shader"></div>
        <div class="caption ani_ fadeinup">
            <h3>Ets Data Engineering</h3>
            <h1>Blog</h1>
        </div>
        <i class="ion-ios-arrow-down arrow-down"></i>
    </header>

{% endblock %}


{% block main  %}
    <section class="blog-articles">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {% for article in articles %}
                            <div class="article">
                                <div class="article-pic"><img src="{{ asset('uploads/photo/' ~ article.auteur.photo) }}" alt=""></div>
                                <div class="article-foot">
                                    <h4>Written by <b>{{ article.auteur.prenom~' '~article.auteur.nom}}</b></h4><span>{% if article.date %}{{ article.date|date('Y-m-d') }}{% endif %}</span></div>
                                <div class="article-main-picture">
                                    <img src="{{ asset('uploads/photo/' ~ article.photo.photo2) }}" alt="">
                                </div>
                                <div class="article-title">
                                    <a href="{{ path('poster_article', {'id': article.id,'slug': article.slug  }) }}"><h2>{{ article.titre }}</h2></a>
                                    <p>{{ article.intro }}</p>
                                    <div class="article-comments">
                                        <div class="row">
                                            <div class="col-xs-6"><a href="{{ path('poster_article', {'id': article.id,'slug': article.slug  }) }}">Read more</a></div>
                                            <div class="col-xs-6 comments"><i class="ion-chatbubbles"></i> 5 comments</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %} 
                        
                    </div>
                </div>
            </div>
        </section>
{% endblock %}


