{% extends 'base.html.twig' %}

{% block title %}{{ formation.titre }}{% endblock %}

{% block headerimage %}
    <header id="header_subpage1" style="background-image:url({{ asset('uploads/' ~ formation.photo) }}">
            <div class="shader-dark"></div>
            <div class="caption ani_ fadeinup">
                <h4><a href="{{ path('formation', {'typeformation':  formation.categorieFormation.typeFormation.id ,'categorieformation': formation.categorieFormation.id,'slug': 'toutes-les-formations'   }) }}">{% trans %}menu.formation{% endtrans %}</a>  /  {{ formation.categorieFormation.libelle }} </h4>
                <h1>{{ formation.titre }}</h1>
                <h3>{{ formation.categorieFormation.libelle }}</h3>
                
            </div>
            <i class="ion-ios-arrow-down arrow-down"></i>
        </header>
{% endblock %}

{% block meta %}
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ formation.titre }}"/>
    <meta property="og:url" content="{{ path('formationdetail', {'id': formation.id,'slug': formation.slug  }) }}"/>
    <meta property="og:site_name" content="Data Engineering Consulting Sarl"/>
    <meta property="og:image" content="{{ asset('uploads/photo/' ~ formation.photo) }}"/>
    <meta property="og:description" content="{{ formation.description }}"/>
    <meta name="twitter:card" content="{{ formation.titre }}"/>
    <meta name="twitter:site" content="{{ formation.titre }}"/>
    <meta name="twitter:title" content="{{ formation.titre }}"/>
    <meta name="twitter:description" content="{{ formation.description }}"/>
{% endblock %}


{% block main %}




<section>
            <div class="container">
                <div class="row">
                    <div class="title-m">
                        <h2>{{ formation.titre }}</h2>
                         <p>{{ formation.description }}</p>
                    </div>
					
                    <div class="col-md-8 ani_ fadeindown" data-delay=".4">
                        <div class="tabs">
                            <div id="js-filters-tabs" class="cbp-l-filters-big">
                                <div data-filter=".first" class="cbp-filter-item-active cbp-filter-item">
                                    Programme
                                </div>
                                <div data-filter=".second" class="cbp-filter-item">
                                    Public
                                </div>
                                <div data-filter=".third" class="cbp-filter-item">
                                    PRE-REQUIS
                                </div>
                                <div data-filter=".four" class="cbp-filter-item">
                                    OBJECTIF
                                </div>
                            </div>
                            <div id="tabs-services">
                                <div class="cbp-item first">
                                    <h2>Programme</h2>
                                    <div style="text-align: left">
                                        <p>{{ formation.programme | raw }}</p>
                                    </div>
                                </div>
                                <div class="cbp-item second">
                                    <h2>Public</h2> {{ formation.cible | raw }}
                                </div>
                                <div class="cbp-item third">
                                    <h2>PRE-REQUIS</h2> {{ formation.prerequis | raw }}
                                </div>

                                <div class="cbp-item four">
                                    <h2>OBJECTIF</h2> {{ formation.objectif | raw }}
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-4 google_maps">
                        <h2>Détail de la formation</h2>
                        <ul class="standard_list">
                            <li><b>prix :</b>{{ formation.prix | number_format }} FCFA</li>
                            <li><b>Lieu :</b>{{ formation.lieu }} </li>
                            <li><b>Durée de la formation :</b>{{ formation.duree }} </li>
                        </ul>

                        <h2>Formateur</h2>
                        <ul class="standard_list">
                            <li><h3>{{ formation.formateur.nom ~" "~ formation.formateur.prenom  }}</h3></li>
                            <li><b>formation  :</b>{{ formation.formateur.formation }} </li>
                            <li><b>Titre :</b>{{ formation.formateur.titre  }} </li>
                            <li class="social_link"><a target="_blank" href="{{ formation.formateur.linkedin  }}"><i class="ion-social-linkedin"></i> profil LinkedIn de {{ formation.formateur.nom ~" "~ formation.formateur.prenom  }}  </a></li>
                        </ul>


                        <a href="" class="btn">Souscrire a la formation</a>
                    </div>




                </div>
            </div>
        </section>



{% endblock %}

