{% extends 'baseok.html.twig' %}

{% block title %}Illustration{% endblock %}

{% block meta %}{% endblock %}
{% block headerimage %}
    <!-- Header -->
    <header id="header_subpage1" style="background-image:url({{ asset('img/services/header_illustration.jpg') }})">
        <div class="shader-dark" style="opacity:.8;"></div>
        <div class="caption ani_ fadeinup">
            <h3>Illustration</h3>
            <h1>Nous sommes la pour vos dessin</h1>
        </div>
        <i class="ion-ios-arrow-down arrow-down"></i>
    </header>
{% endblock %}


{% block main %}


    <section class="grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-m">
                        <h2>Agency or App. Your pick</h2>
                        <h3>Our wide variety of services you can profit from.</h3>
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay="">
                        <i class="ion-android-laptop icon"></i>
                        <h4>Web Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut veniam quis nostrud.</p>
                        <a href="#">Read more</a>
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".2">
                        <i class="ion-videocamera icon"></i>
                        <h4>Motion</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut veniam quis nostrud.</p>
                        <a href="#">Read more</a>
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".4">
                        <i class="ion-document-text icon"></i>
                        <h4>Print</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut veniam quis nostrud.</p>
                        <a href="#">Read more</a>
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay="">
                        <i class="ion-android-color-palette icon"></i>
                        <h4>Illustration</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut veniam quis nostrud.</p>
                        <a href="#">Read more</a>
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".2">
                        <i class="ion-arrow-resize icon"></i>
                        <h4>Responsive</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut veniam quis nostrud.</p>
                        <a href="#">Read more</a>
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".4">
                        <i class="ion-android-options icon"></i>
                        <h4>Customisable</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut veniam quis nostrud.</p>
                        <a href="#">Read more</a>
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay="">
                        <i class="ion-help-buoy icon"></i>
                        <h4>24/7 Support</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut veniam quis nostrud.</p>
                        <a href="#">Read more</a>
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".2">
                        <i class="ion-android-notifications icon"></i>
                        <h4>Frequent Updates</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut veniam quis nostrud.</p>
                        <a href="#">Read more</a>
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".4">
                        <i class="ion-android-search icon"></i>
                        <h4>SEO</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut veniam quis nostrud.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 3 Service Pictures -->
    <section>
        <div class="container">
            <div class="row">
                <div class="title-m">
                    <h2>Mainly producing works in...</h2>
                </div>
                <div class="col-sm-4 service-pic ani_ fadeindown">
                    <div class="service-container">
                        <img src="{{ asset('img/service-pic-1.jpg') }}" alt="">
                        <div class="titles">
                            <h2>Sketching & Design</h2>
                            <h4>From start to finish</h4>
                        </div>
                    </div>
                </div>
                <div class="xs-spacer"></div>
                <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".2">
                    <div class="service-container">
                        <img src="{{ asset('img/service-pic-2.jpg') }}" alt="">
                        <div class="titles">
                            <h2>Development & Launch</h2>
                            <h4>With flawless execution</h4>
                        </div>
                    </div>
                </div>
                <div class="xs-spacer"></div>
                <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".4">
                    <div class="service-container">
                        <img src="{{ asset('img/service-pic-3.jpg') }}" alt="">
                        <div class="titles">
                            <h2>Search Engine Ranks</h2>
                            <h4>For as long as you need</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Skill, Tabs and Picture -->
    <section class="grey">
        <div class="container">
            <div class="row">
                <div class="title-m">
                    <h2>We have many creative solutions ready for you</h2>
                    <h3>See for yourself</h3>
                </div>
                <div class="col-md-6 services-pic ani_ fadeinleft">
                    <img src="{{ asset('img/services_pic.png') }}" alt="">
                </div>
                <div class="v-spacer"></div>
                <div class="col-md-6 ani_ fadeinright" data-delay=".4">
                    <div class="tabs">
                        <div id="js-filters-tabs" class="cbp-l-filters-big">
                            <div data-filter=".first" class="cbp-filter-item-active cbp-filter-item">
                                Goal
                            </div>
                            <div data-filter=".second" class="cbp-filter-item">
                                Composition
                            </div>
                            <div data-filter=".third" class="cbp-filter-item">
                                Support
                            </div>
                        </div>
                        <div id="tabs-services">
                            <div class="cbp-item first">
                                <h2>Goal</h2>
                                <p>Pellentesque ut nonummy elit et duis, ut aliquam morbi, lobortis dolor nec fusce consequat. Nec elit magna mauris orci mauris ac, sem duis, ante nibh mi, sed malesuada ultrices scelerisque augue convallis eget. Ac varius enim qui, quis pharetra ultricies velit ut auctor, suspendisse mattis viverra eget sed in, pellentesque enim felis turpis auctor amet. Dolor sit mauris dui augue, sed nullam urna commodo, arcu congue mi non suscipit.</p>
                            </div>
                            <div class="cbp-item second">
                                <h2>Composition</h2> Pede iaculis mauris lorem, non mi gravida risus metus, proin tempus pede rhoncus scelerisque ligula. Dignissim diam sodales egestas senectus elit nec, aliquam ante convallis proin pulvinar molestias vestibulum, leo felis, luctus id sed accumsan, nunc metus proin neque nulla ipsa. Ut fusce in aliquam amet arcu magna, amet nec nec orci pharetra vehicula sodales, nibh purus consectetuer aenean porttitor justo vivamus. Laoreet diam eu potenti, malesuada lacus et fermentum eget egestas.
                            </div>
                            <div class="cbp-item third">
                                <h2>Support</h2> Orci eros pulvinar metus. Taciti montes placerat nulla nonummy lacus, turpis et urna, eleifend aute condimentum eu, congue pede dapibus. Elit dis eros vulputate ultricies, ullamcorper egestas, turpis senectus tellus mi euismod erat mus, asperiores feugiat vitae lectus mi. Rerum integer dictumst, ligula blandit vestibulum nam consequat sed. Nulla fusce, blandit nec, sit ut in aliquam proin, netus sed magna lectus dolor, ipsum ac.
                            </div>
                        </div>
                    </div>
                    <div class="v-spacer mdmin-spacer"></div>
                    <div class="skill-block">
                        <div class="skill">
                            <h3>Web Design</h3>
                                <span class="skill-line">
                  <span class="skill-line-inside" data-percent="83"><span class="percentage">83%</span></span>
                                </span>
                        </div>
                        <div class="skill">
                            <h3>HTML/CSS</h3>
                                <span class="skill-line">
                  <span class="skill-line-inside" data-percent="100"><span class="percentage">100%</span></span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Large CTA -->
    <section class="large-cta allwhite">
        <div class="container">
            <div class="row">
                <div class="title ani_ fadeinup">
                    <h2>Want to get noticed online?</h2>
                    <h3>Of course you do, everyone does.<br>Comflare will do the job.</h3>
                    <a href="" class="btn">Purchase Comflare</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

