{% extends 'base.html.twig' %}

{% block title %}Infographie{% endblock %}
{% block meta %}
    <meta property="og:locale" content="production des visuels et vidéos au Cameroun"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="production des visuels et vidéos au Cameroun"/>
    <meta property="og:url" content="http://dataengineeringconsulting.com/services/infographie"/>
    <meta property="og:site_name" content="Data Engineering"/>
    <meta property="og:image" content="http://dataengineeringconsulting.com/img/services/metadata/infographie.jpg"/>
    <meta property="og:description" content="Parce qu'une image vos mieux que 1000 mots, Contacter nous pour vos outils graphiques : Affiches, banderoles, magazines, dépliants, illustrations, photographies, vidéos et autres. Nous les produisons pour vous à des prix défiant toutes concurrences et dans des délais raisonnables. Nous nous chargeons également de l’impression. "/>
    <meta name="twitter:card" content=""/>
    <meta name="twitter:site" content="production des visuels et vidéos au Cameroun"/>
    <meta name="twitter:title" content="production des visuels et vidéos au Cameroun"/>
    <meta name="twitter:description" content="Parce qu'une image vos mieux que 1000 mots, Contacter nous pour vos outils graphiques : Affiches, banderoles, magazines, dépliants, illustrations, photographies, vidéos et autres. Nous les produisons pour vous à des prix défiant toutes concurrences et dans des délais raisonnables. Nous nous chargeons également de l’impression. "/>
{% endblock %}


{% block headerimage %}
    <!-- Header -->
    <header id="header_subpage1" style="background-image:url({{ asset('img/services/header_infographie.jpg') }})">
        <div class="shader-dark" style="opacity:.8;"></div>
        <div class="caption ani_ fadeinup">
            <h3>Infographie</h3>
            <h1>Prestation en infographie</h1>
        </div>
        <i class="ion-ios-arrow-down arrow-down"></i>
    </header>
{% endblock %}


{% block main %}


    <section class="grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-m">
                        <h2>Infographie</h2>
                        <h3>Parce qu'une image vos mieux que 1000 mots, Contacter nous pour vos outils graphiques : Affiches, banderoles, magazines, dépliants, illustrations, photographies, vidéos et autres. Nous les produisons pour vous à des prix défiant toutes concurrences et dans des délais raisonnables. Nous nous chargeons également de l’impression. </h3>
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay="">
                        <i class="ion-android-laptop icon"></i>
                        <h4>Web Design</h4>
                        <p>Vous avez besoin d'un web design qui vous ressemble et qui reflète au mieux vos ambitions sur la toile, nous sommes là pour vous. Data Engineering leader Camerounais dans la production des design web produit votre design ainsi que tous les supports graphiques que les accompagne.</p>
                        <!-- <a href="#">Read more</a>-->
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".2">
                        <i class="ion-videocamera icon"></i>
                        <h4>Vidéo</h4>
                        <p>Nous produisons des vidéos promotionnelles destinées non seulement à la télé mais aussi à internet et en particulier aux réseaux sociaux, nous produisons également des reportages vidéo des courts métrages et des films. </p>
                        <!-- <a href="#">Read more</a>-->
                    </div>
                    
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay="">
                        <i class="ion-android-color-palette icon"></i>
                        <h4>Illustration</h4>
                        <p>Dans certains cas, pour mieux s'exprimer, rien de mieux qu'une illustration. Caricature, Dessin technique, illustration vectorielle n'ont pas de secret pour nous. Data Engineering leader Camerounais dans la promotion des visuels produits pour vous des illustrations dans des délais impressionnants.</p>
                       <!-- <a href="#">Read more</a>-->
                    </div>
                    
                    
                  
                </div>
            </div>
        </div>
    </section>
    <!-- 3 Service Pictures -->
    <section>
        <div class="container">
            <div class="row">
                <div class="title-m">
                    <h2>Quelques de nos services parmis tant d'aitres</h2>
                </div>
                <div class="col-sm-4 service-pic ani_ fadeindown">
                    <div class="service-container">
                        <img src="{{ asset('img/services/infographie/carte_de_visite.jpg') }}" alt="Production des Cartes de visite au Cameroun, Yaoundé Douala">
                        <div class="titles">
                            <h2>Carte de visite</h2>
                            <h4>Production des cartes de visite</h4>
                        </div>
                    </div>
                </div>
                <div class="xs-spacer"></div>
                <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".2">
                    <div class="service-container">
                        <img src="{{ asset('img/services/infographie/brochure.jpg') }}" alt="Production des Brochures et Banderoles au Cameroun, Yaoundé, Douala, Cameroon">
                        <div class="titles">
                            <h2>Brochures & Banderoles</h2>
                            <h4>Pour vos campagnes promotionnelles</h4>
                        </div>
                    </div>
                </div>
                <div class="xs-spacer"></div>
                <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".4">
                    <div class="service-container">
                        <img src="{{ asset('img/services/infographie/calendrier.jpg') }}" alt="Production des Calendrier au Cameroun, Yaoundé, Douala, Cameroon">
                        <div class="titles">
                            <h2>Calendrier</h2>
                            <h4>Sous différents formats</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                        
    <section>
        <div class="container">
            <div class="row">
                
                <div class="col-sm-4 service-pic ani_ fadeindown">
                    <div class="service-container">
                        <img src="{{ asset('img/services/infographie/video_publicitaire.jpg') }}" alt="Production des vidéo promotoinnelle au Cameroun Yaoundé, Douala, Cameroon">
                        <div class="titles">
                            <h2>Vidéo promotionnelle</h2>
                            <h4>avec animation</h4>
                        </div>
                    </div>
                </div>
                <div class="xs-spacer"></div>
                <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".2">
                    <div class="service-container">
                        <img src="{{ asset('img/services/infographie/reportage_video.jpg') }}" alt="Production des reportages vidéo au cameroun Cameroon ,Yaoundé , Douala">
                        <div class="titles">
                            <h2>Reportage vidéo</h2>
                            <h4>En haute définition </h4>
                        </div>
                    </div>
                </div>
                <div class="xs-spacer"></div>
                <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".4">
                    <div class="service-container">
                        <img src="{{ asset('img/services/infographie/magazine.jpg') }}" alt="Production des magazines au Cameroun Yaoundé, Douala">
                        <div class="titles">
                            <h2>Magazine</h2>
                            <h4>sous tous les formats</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
                        
                        
    <section>
        <div class="container">
            <div class="row">
                
                <div class="col-sm-4 service-pic ani_ fadeindown">
                    <div class="service-container">
                        <img src="{{ asset('img/services/infographie/illustration.jpg') }}" alt="Dessin, illustration, au Cameroun , Yaoundé, Douala">
                        <div class="titles">
                            <h2>Illustration</h2>
                            <h4>Dessin informatisé</h4>
                        </div>
                    </div>
                </div>
                <div class="xs-spacer"></div>
                <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".2">
                    <div class="service-container">
                        <img src="{{ asset('img/services/infographie/banderole.jpg') }}" alt="production des banderole au Cameroun, Yaoundé, Douala">
                        <div class="titles">
                            <h2>Banderole</h2>
                            <h4>Sous tous les formats</h4>
                        </div>
                    </div>
                </div>
                <div class="xs-spacer"></div>
                <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".4">
                    <div class="service-container">
                        <img src="{{ asset('img/services/infographie/t-shirt.jpg') }}" alt="Casquettes, portes clés, clé USB, au Cameroun">
                        <div class="titles">
                            <h2>T-shirt</h2>
                            <h4>Casquettes, portes clés, clé USB, ...</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                        
                        
                        
    <!-- Skill, Tabs and Picture -->
    <section class="grey">
        <div class="container">
            <div class="row">
                <div class="title-m">
                    <h2>Une équipe professionnelle</h2>
                    <h3>A votre disposition</h3>
                </div>
                <div class="col-md-6 services-pic ani_ fadeinleft">
                    <img src="{{ asset('img/services/infographie/equipe_professionnel.jpg') }}" alt="">
                </div>
                <div class="v-spacer"></div>
                <div class="col-md-6 ani_ fadeinright" data-delay=".4">
                    <div class="tabs">
                        <div id="js-filters-tabs" class="cbp-l-filters-big">
                            <div data-filter=".first" class="cbp-filter-item-active cbp-filter-item">
                               Equipe professionel
                            </div>
                            <div data-filter=".second" class="cbp-filter-item">
                               Matériel de qualité
                            </div>
                            
                        </div>
                        <div id="tabs-services">
                            <div class="cbp-item first">
                                <h2>Equipe professionnelle</h2>
                                <p>Une équipe professionnelle de graphite conçoit et imprime vos visuels après validation du bon à tirer.</p>
                            </div>
                            <div class="cbp-item second">
                                <h2>Matériel de qualité</h2>
                               <p> Ayant non seulement un matériel de prise de son et de vidéo de qualité et aussi des ordinateurs
                                de montage à la pointe, nous vous garantissons une qualité de production professionnel.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="v-spacer mdmin-spacer"></div>
                    <div class="skill-block">
                        <div class="skill">
                            <h3>Web Design</h3>
                                <span class="skill-line">
                  <span class="skill-line-inside" data-percent="83"><span class="percentage">83%</span></span>
                                </span>
                        </div>
                        <div class="skill">
                            <h3>HTML/CSS</h3>
                                <span class="skill-line">
                  <span class="skill-line-inside" data-percent="100"><span class="percentage">100%</span></span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Large CTA -->
    <section class="large-cta allwhite">
        <div class="container">
            <div class="row">
                <div class="title ani_ fadeinup">
                    <h2>Pour vos commandes.</h2>
                    <h3>Appelez-nous au numéro indiquer au pied du page</h3>
                    <a href="{{ path('contact') }}" class="btn">Pour une facture pro format, écrivez-nous</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

