{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block mode %}dark-menu{% endblock %}


{% block headerimage %}
 <header id="header_subpage3">
    <div class="container center">
        <div class="row">
            <div class="caption ani_ fadeinup">
                <h1>Nous Ecrire </h1>
                <h3>Remplissez le formulaire de contact ci-dessous</h3>
            </div>
        </div>
    </div>
 </header>
{% endblock %}


{% block main %}
    <!-- Contact Form -->
    <section id="contact_form_1" class="dark">
        <div class="container">
            <div class="row">
                {{ form_start(form) }}
                <div class="col-md-8 col-md-offset-2 center col-sm-12">

                            {% if not form.vars.valid %}
                                <div style="color: #FF0000; font-weight: bold;" class="alert alert-danger" role="alert">
                                    {{ form_errors(form) }}
                                    {{ form_errors(form.captcha) }}
                                </div>
                            {% endif %} 
                       
                            <span class="input">
                                <label  for="input-10">
                                    <span > <i class="ion-person"></i> Nom</span>
                                </label>
                                
                                {{ form_widget(form.nom, {required: true, 'id': 'input-10', 'attr': {'placeholder': "Insérez votre nom"} }) }}
                                
                            </span>
                                
                            <span class="input">
                                <label  for="input-11">
                                <span > <i class="ion-person"></i> Prénom</span>
                                </label>
                                
                                {{ form_widget(form.prenom, {required: true, 'id': 'input-11','attr': {'placeholder': "Insérez votre prénom"} }) }}
                                
                            </span>
                    
                            <span class="input">
                              <label  for="input-12">
                              <span > <i class="ion-at"></i> Email</span>
                              </label>
                                {{ form_widget(form.email, { required: true, 'id': 'input-12','attr': {'placeholder': "hello@gmail.com"} }) }}
                              
                            </span>
                                
                            <span class="input">
                              <label  for="input-13">
                              <span > <i class="ion-at"></i> Numéro de téléphone</span>
                              </label>
                                {{ form_widget(form.telephone, {required: true, 'id': 'input-13','attr': {'placeholder': "Votre numéro de téléphone"} }) }}
                              
                            </span>
                    
                            

                            <span class="input">
                                {{ form_label(form.captcha) }}
                                 <div style="color: #FF0000; font-weight: bold;">
                                    {{ form_errors(form.captcha) }}
                                </div>
                                
                                {{ form_widget(form.captcha) }}
                            </span>


                            
                    
                            <input type="submit" class="btn alt" value="S'inscrire">
                        
                    </div>
                
                 {{ form_end(form) }}
            </div>
        </div>
    </section>


    {% for msg in app.session.flashBag.get('info') %}

    <script>
        swal("Merci !", '{{ msg }}', "success", {
            button: "Ok",
        });
        
    </script>
    {% endfor %}







{% endblock %}