{% extends 'base.html.twig' %}

{% block title %}Conception d'application mobile au Cameroun{% endblock %}

{% block meta %}
    <meta property="og:locale" content="Microsoft Power Platform"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Découvrez l'avenir de l'innovation numérique avec notre expertise exceptionnelle sur la plateforme Microsoft Power. En tant que leader en services informatiques, nous offrons des solutions sur mesure pour optimiser vos opérations, automatiser les processus métier et propulser votre entreprise vers de nouveaux sommets. Explorez notre savoir-faire unique et transformez votre vision numérique en réalité."/>
    <meta property="og:url" content="http://dataengineeringconsulting.com/services/appli_mobile"/>
    <meta property="og:site_name" content="Data Engineering"/>
    <meta property="og:image" content="http://dataengineeringconsulting.com/img/services/metadata/application_mobile.jpg"/>
    <meta property="og:description" content="Découvrez l'avenir de l'innovation numérique avec notre expertise exceptionnelle sur la plateforme Microsoft Power. En tant que leader en services informatiques, nous offrons des solutions sur mesure pour optimiser vos opérations, automatiser les processus métier et propulser votre entreprise vers de nouveaux sommets. Explorez notre savoir-faire unique et transformez votre vision numérique en réalité."/>
    <meta name="twitter:card" content=""/>
    <meta name="twitter:site" content="Libérez l'Innovation Numérique avec Notre Expertise en Microsoft Power Platform : Transformez Vos Opérations Informatiques en Solutions Puissantes"/>
    <meta name="twitter:title" content="Développement d'application mobile au Cameroun Yaoundé Douala"/>
    <meta name="twitter:description" content="Découvrez l'avenir de l'innovation numérique avec notre expertise exceptionnelle sur la plateforme Microsoft Power. En tant que leader en services informatiques, nous offrons des solutions sur mesure pour optimiser vos opérations, automatiser les processus métier et propulser votre entreprise vers de nouveaux sommets. Explorez notre savoir-faire unique et transformez votre vision numérique en réalité."/>
{% endblock %}


{% block headerimage %}
    <!-- Header -->
    <header id="header_subpage1" style="background-image:url({{ asset('img/services/header_microsoft_platform.jpg') }})">
        <div class="shader-dark" style="opacity:.8;"></div>
        <div class="caption ani_ fadeinup">
            <h3>Microsoft Power Platform</h3>
            <h1>Transformez Vos Opérations Informatiques en Solutions Puissantes</h1>
        </div>
        <i class="ion-ios-arrow-down arrow-down"></i>
    </header>
{% endblock %}


{% block main %}


    <section class="grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-m">
                        <h2>Libérez l'Innovation Numérique avec Notre Expertise en Microsoft Power Platform : Transformez Vos Opérations Informatiques en Solutions Puissantes</h2>
                        <h3>Découvrez l'avenir de l'innovation numérique avec notre expertise exceptionnelle sur la plateforme Microsoft Power. En tant que leader en services informatiques, nous offrons des solutions sur mesure pour optimiser vos opérations, automatiser les processus métier et propulser votre entreprise vers de nouveaux sommets. Explorez notre savoir-faire unique et transformez votre vision numérique en réalité.</h3>
                            
                    </div>
                    
                    
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".2">
                        <i class="ion-android-notifications icon"></i>
                        <h4>Mise à jour</h4>
                        <p>Parce que la technologie évolue rapidement, nous nous chargeons de la mise à jour dès vos applications sur internet (Google play store et Itunes Connect), ceci vous permet de répondre non seulement aux nouveaux besoins métier mais aussi de corriger les bugs et les failles de sécurité en permanence.</p>
                       
                    </div>
                    
                    
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".4">
                        <i class="ion-android-search icon"></i>
                        <h4>Visibilité</h4>
                        <p>En fonction de votre besoin, votre cible, vos objectifs, et enfin de votre budget. Nous mettons en place une stratégie marketing digitale permettant d’améliorer la visibilité de votre application mobile. Ceci permettra d’augmenter le nombre de téléchargements.</p>
                       
                    </div>
                    
                    
                    
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".4">
                        <i class="ion-document-text icon"></i>
                        <h4>Rapport</h4>
                        <p>Nous vous faisons parvenir en temps et en heures les différents rapports de téléchargements de 
                            votre application.</p>
                        
                    </div>
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </section>
    <!-- 3 Service Pictures -->
    <section>
            <div class="container">
                <div class="row">
                    <div class="title-m">
                        <h2>Quelques de nos travaux</h2>
                    </div>
                    <div class="col-sm-4 service-pic ani_ fadeindown">
                        <div class="service-container">
                            <a tar href=''>
                            <img src="{{ asset('img/reference/barro.jpg') }}" alt="Application mobile pour la gestion des ventes de la comptabilités et des stock au Cameroun">
                            </a> 
                            <div class="titles">
                                <h2>My business</h2>
                                <h4>Application mobile pour la gestion des ventes de la comptabilité et des stocks au Cameroun </h4>
                             
                            
                            </div>
                        </div>
                    </div>
                    <div class="xs-spacer"></div>
                    <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".2">
                        <div class="service-container">
                            <img src="{{ asset('img/reference/collectapps.jpg') }}" alt="Application mobile Camerounaise de collecte et d'analyse de données">
                            <div class="titles">
                                <h2>CollectDataApps</h2>
                                <h4>Cette application mobile permet de collecter et d'analyser les données (y compris les images)</h4>
                            </div>
                        </div>
                    </div>
                    <div class="xs-spacer"></div>
                    <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".4">
                        <div class="service-container">
                            <img src="{{ asset('img/reference/vision4.jpg') }}" alt="">
                            <div class="titles">
                                <h2>Vision 4</h2>
                                <h4>Application mobile permettant la retransmission en direct de la chaine de télé en ligne</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Skill, Tabs and Picture -->
    <!-- Skill, Tabs and Picture -->
        <section class="grey">
            <div class="container">
                <div class="row">
                    <div class="title-m">
                        <h2>Démarche</h2>
                        <h3>Application mobile adaptée à vos besoins et livré dans les délais</h3>
                    </div>
                    <div class="col-md-6 services-pic ani_ fadeinleft">
                        <img src="{{ asset('img/application_mobile_au_cameroun.png') }}" alt="devellopement d'application mobile au Cameroun">
                    </div>
                    <div class="v-spacer"></div>
                    <div class="col-md-6 ani_ fadeinright" data-delay=".4">
                        <div class="tabs">
                            <div id="js-filters-tabs" class="cbp-l-filters-big">
                                <div data-filter=".first" class="cbp-filter-item-active cbp-filter-item">
                                    besoins
                                </div>
                                <div data-filter=".second" class="cbp-filter-item">
                                    délais
                                </div>
                                <div data-filter=".third" class="cbp-filter-item">
                                   Architecture
                                </div>
                                
                            </div>
                            <div id="tabs-services">
                                <div class="cbp-item first">
                                    <h2>Adapter a vos besoins</h2>
                                    <p>Nos équipes d’analystes étudient bien vos processus métier et mettent sur pied des applications mobiles taillées à votre mesure et s’accordant au mieux à votre business. Fort de son expérience, la startup Camerounaise Data Engineering se positionne comme l'une des meilleures entreprises dans le domaine.</p>
                                </div>
                                <div class="cbp-item second">
                                    <h2>Respect des délais</h2>
                                    Le respect des délais est une priorité pour nous. Ainsi, une fois le besoin exprimé et le cahier des charges validé, nos équipes travaillent pour déployer la solution dans le strict respect des délais.
                                </div>
                                
                                
                                <div class="cbp-item third">
                                    <h2>Architecture</h2>
                                    Nous développons des applications compatibles avec les systèmes android et IOS. En cas de besoin nos applications vous fournissent des interfaces web vos permettant de :<br/>
                                    1-  Adminitrer vos données<br/>
                                    2-  Exporter de vos données aux différents formats(Excel, PDF, WORD......<br/>
                                    3-  Produire des tableaux de bord à temps réel<br/>
                                    4-  Administrer les profils utilisateurs<br/>
                                </div>
                                </div>
                            </div>
                        
                    
                        <div class="v-spacer mdmin-spacer"></div>
                        <div class="skill-block">
                            <div class="skill">
                                <h3>Taux de réussite</h3>
                                <span class="skill-line">
                  <span class="skill-line-inside" data-percent="90"><span class="percentage">90%</span></span>
                                </span>
                            </div>
                            <div class="skill">
                                <h3>Respect des délais</h3>
                                <span class="skill-line">
                  <span class="skill-line-inside" data-percent="95"><span class="percentage">95%</span></span>
                                </span>
                            </div>
                        </div>
                        
                        </div>
                        
                    </div>
                </div>
         
        </section>

    <!-- Large CTA -->
    
{% endblock %}

