{% extends 'base.html.twig' %}

{% block title %}Dévellopement de site internet{% endblock %}
{% block meta %}
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Dévéllopement de site internet au Cameroun"/>
    <meta property="og:url" content="http://dataengineeringconsulting.com/services/developpement_site_internet"/>
    <meta property="og:site_name" content="Data Engineering"/>
    <meta property="og:image" content="http://dataengineeringconsulting.com/img/services/metadata/siteweb.jpg"/>
    <meta property="og:description" content="Nous concevons pour vous des sites internet de qualité, fiable dans des délais très raisonnables. Data Engineering est doté de professionnels du web pour répondre à vos besoins. Nous nous chargeons de tous : du graphisme, des illustrateurs, du contenu (texte, images, vidéo, Song). Nous développons pour vous des modules personnalisés adapter à vos besoins."/>
    <meta name="twitter:card" content=""/>
    <meta name="twitter:site" content="Conception de sites internet"/>
    <meta name="twitter:title" content="Conception de sites internet"/>
    <meta name="twitter:description" content="Nous concevons pour vous des sites internet de qualité, fiable dans des délais très raisonnables. Data Engineering est doté de professionnels du web pour répondre à vos besoins. Nous nous chargeons de tous : du graphisme, des illustrateurs, du contenu (texte, images, vidéo, Song). Nous développons pour vous des modules personnalisés adapter à vos besoins."/>
{% endblock %}

{% block headerimage %}
    <!-- Header -->
    <header id="header_subpage1" style="background-image:url({{ asset('img/services/header_site_web.jpg') }})">
        <div class="shader-dark" style="opacity:.8;"></div>
        <div class="caption ani_ fadeinup">
            <h3>Web</h3>
            <h1>Conceptions de sites internet au Cameroun</h1>
        </div>
        <i class="ion-ios-arrow-down arrow-down"></i>
    </header>
{% endblock %}


{% block main %}


    <section class="grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-m">
                        <h2>Conception de sites internet</h2>
                        <h3>Nous concevons pour vous des sites internet de qualité, fiable dans des délais très raisonnables. Data Engineering est doté de professionnels du web pour répondre à vos besoins. Nous nous chargeons de tous : du graphisme, des illustrateurs, du contenu (texte, images, vidéo, Song). Nous développons pour vous des modules personnalisés adapter à vos besoins. </h3>
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay="">
                        <i class="ion-android-laptop icon"></i>
                        <h4>Web Design</h4>
                        <p>Nos graphistes sont là pour la construction d’un design qui vous ressemble. Nous nous rassurons que le design s’adapte à tous les supports (Design Responsive), Nous produisons également tous les autres supports graphiques pour votre site (Logo, Affiches, Images, Vidéos, Illustrations).</p>
                       
                    </div>
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".2">
                        <i class="ion-android-options icon"></i>
                        <h4>Modules personnalisées</h4>
                        <p>Nous développons pour vous des modules personnalisés et qui s’adaptent parfaitement à vos besoins et votre métier. Si nécessaire, nous produisons également des applications mobiles relier à votre site internet via des API (RESTFUL, Web Services). Et disponible sur google Play store.</p>
                        
                    </div>
                    
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".4">
                        <i class="ion-android-search icon"></i>
                        <h4>SEO</h4>
                        <p>Parce qu’un site internet doit être visité, nos SEO se chargent de la visibilité de votre site internet. Ils mettent en place des outils et politiques de visibilités permettant d’atteindre votre cible. Ils vous fournissent également des rapports mensuels de visites de votre site internet.</p>
                        
                    </div>
                    
                    
                    <!-- One Service -->
                    <div class="col-md-4 col-sm-6 a-service ani_ fadeindown" data-delay=".4">
                        <i class="ion-document-text icon"></i>
                        <h4>Contenu</h4>
                        <p>Une Equipe de rédaction se charge de la relecture et de la traduction  du contenu de votre site internet. </p>
                    </div>
                   
                    
                    
                </div>
            </div>
        </div>
    </section>
    
    
    <section>
            <div class="container">
                <div class="row">
                    <div class="title-m">
                        <h2>Nos dernières réalisations ...</h2>
                    </div>

                    <div class="col-sm-4 service-pic ani_ fadeindown">
                        <div class="service-container">
                            <a target="_blank" href='https://www.hotelmansel.com'>
                            <img src="{{ asset('img/reference/web/mansel.jpg') }}" alt="Hôtel mansel">
                            </a> 
                            <div class="titles">
                                <h2>Hôtel mansel</h2>
                                <h4>Site internet de l'Hôtel MANSEL </h4>
                             
                            
                            </div>
                        </div>
                    </div>

                    <div class="xs-spacer"></div>
                    <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".2">
                        <div class="service-container">
                        <a target="_blank" href='http://www.hoteljouvenceinternational.com/'>
                            <img src="{{ asset('img/reference/web/hotel_jouvence_internationnal.jpg') }}" alt="Hôtel jouvence internationnal">
                            </a> 
                            <div class="titles">
                                <h2>Hôtel jouvence internationnal</h2>
                                <h4>Site internet de l'Hôtel Jouvence Internationnal</h4>
                            </div>
                        </div>
                    </div>

                    <div class="xs-spacer"></div>
                    <div class="col-sm-4 service-pic ani_ fadeindown" data-delay=".4">
                        <div class="service-container">
                        <a target="_blank" href='http://www.zone237.com'>
                            <img src="{{ asset('img/reference/web/zone237.jpg') }}" alt="">
                            </a> 
                            <div class="titles">
                                <h2>Zone 237</h2>
                                <h4>Le blog Zone237</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    
    
    <section class="grey">
            <div class="container">
                <div class="row">
                    <div class="title-m">
                        <h2>Démarche</h2>
                        <h3>Après une étude de l'existant, nous produisons un cahier des charges qui permettra non seulement de mettre en œuvre un site internet adapter à votre projet (Le design, le budget, les modules, les délais, la maintenance) mais aussi d’évaluation le travail fait à la fin projet.</h3>
                    </div>
                    <div class="col-md-6 services-pic ani_ fadeinleft">
                        <img src="{{ asset('img/sitewebcameroun.png') }}" alt="devellopement de site web au Cameroun">
                    </div>
                    <div class="v-spacer"></div>
                    <div class="col-md-6 ani_ fadeinright" data-delay=".4">
                        <div class="tabs">
                            <div id="js-filters-tabs" class="cbp-l-filters-big">
                                <div data-filter=".first" class="cbp-filter-item-active cbp-filter-item">
                                    E-Commerce
                                </div>
                                <div data-filter=".second" class="cbp-filter-item">
                                    design responsive
                                </div>
                               
                                
                            </div>
                            <div id="tabs-services">
                                <div class="cbp-item first">
                                    <h2>sites de E-Commerce</h2>
                                    <p>Nous développons pour vous des sites de E-Commerce. Nous vous offrons la possibilité d'intégrer les moyens de paiement non seulement internationaux (PayPal, Visa) mais aussi les moyens de paiement locaux (Orange money, mobile money, Yup). Nous vous accompagnons également dans la mise en œuvre de votre stratégie marketing digitale. Ceci vous permettra d’avoir un meilleur positionnement de vos produits sur internet et ainsi d’accroitre vos ventes.   </p>
                                </div>
                                <div class="cbp-item second">
                                    <h2>Design responsive</h2>
                                    Nous développons pour vous un <strong>design responsive</strong>. Ceci permet de fournir un confort de navigation aux internautes quel que soit le support le lequel il consulte votre site web (Ecran d'ordinateur, tablette, téléphone,).
                                </div>
                                
                                
                                
                                </div>
                            </div>
                        
                    
                        <div class="v-spacer mdmin-spacer"></div>
                        <div class="skill-block">
                            <div class="skill">
                                <h3>Taux de réussite</h3>
                                <span class="skill-line">
                  <span class="skill-line-inside" data-percent="90"><span class="percentage">90%</span></span>
                                </span>
                            </div>
                            <div class="skill">
                                <h3>Respect des délais</h3>
                                <span class="skill-line">
                  <span class="skill-line-inside" data-percent="95"><span class="percentage">95%</span></span>
                                </span>
                            </div>
                        </div>
                        
                        </div>
                        
                    </div>
                </div>
         
        </section>
    
    
    
    
    <section id="pricing_1" class="primary">
            <div class="container-fluid">
                <div class="row">
                    <div class="title-m">
                        <h2>Vos formulaires</h2>
                        <h3>Choisissez la formule qui vous convient</h3>
                    </div>
                    <div class="pricing pricing--yama">
                        <div class="pricing__item">
                            <h2>Site web S</h2>
                            <h3>Adapter pour des petites entreprises </h3>
                            <div class="pricing__price"><span class="pricing__currency">200 000 FCFA</span> <span class="pricing__period"></span></div>
                            <ul class="pricing__feature-list">
                                <li>5 adresses e-mails professionnels</li>
                                <li>Hébergement pour un an offert</li>
                                <li>1 Logo</li>
                                <li>Modules standard</li>
                                <li>Trafic illimité</li>
                                <li>10 GO d’espace web</li>
                            </ul>
                            <!-- <a href="" class="btn">Choose plan</a>-->
                        </div>
                        <div class="pricing__item">
                            <h2>Site web M</h2>
                            <h3>Adpter pour des moyennes entreprises</h3>
                            <div class="pricing__price"><span class="pricing__currency"></span>300 000 FCFA<span class="pricing__period"></span></div>
                            <ul class="pricing__feature-list">
                               <li>20 adresses e-mails professionnels</li>
                                <li>Hébergement pour un an offert</li>
                                <li>1 Logo</li>
                                <li>Modules personnalisés</li>
                                <li>Trafic illimité</li>
                                <li>50 GO d’espace web</li>
                            </ul>
                            <!-- <a href="" class="btn">Choose plan</a>-->
                        </div>
                        <div class="pricing__item">
                            <h2>Site web M</h2>
                            <h3>Pour les grandes entreprises</h3>
                            <div class="pricing__price"><span class="pricing__currency">500 000Fcfa</span><span class="pricing__period"> / Ans</span></div>
                            <ul class="pricing__feature-list">
                                <li>200 adresses e-mails professionnels</li>
                                <li>Hébergement pour un an offert</li>
                                <li>1 Logo</li>
                                <li>Modules personnalisés</li>
                                <li>design personnalisé</li>
                                <li>Trafic illimité</li>
                                <li>150 GO d’espace web</li>
                            </ul>
                            <!-- <a href="" class="btn">Choose plan</a>-->
                        </div>
                        <div class="pricing__item">
                            <h2>Site web XL</h2>
                            <h3>100 % Personalisé</h3>
                            <div class="pricing__price"><span class="pricing__currency">À négocier</span><span class="pricing__period"></span></div>
                            <ul class="pricing__feature-list">
                                
                            </ul>
                           <!-- <a href="" class="btn">Choose plan</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

    
{% endblock %}

