
{% extends 'base.html.twig' %}

{% block headerimage %}
<!-- Header -->
<header id="header_subpage1" style="background-image:url({{ asset('uploads/' ~ article.imageAgencyPost) }})">
    <div class="shader-dark"></div>
    <div class="caption ani_ fadeinup">
        <h4>{{ article.dateCreation |date('d F Y') }}</h4>
        <h1>{{ article.titre }}</h1>
        <h3>{{ article.categorie.lebelle }}</h3>
    </div>
    <i class="ion-ios-arrow-down arrow-down"></i>
</header>
{% endblock %}

{% block meta %}
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ article.titre }}"/>
    <meta property="og:url" content="{{ path('bloglecture', {'id': article.id,'slug': article.slug  }) }}"/>
    <meta property="og:site_name" content="Data Engineering Consulting Sarl"/>
    <meta property="og:image" content="{{ asset('uploads/' ~ article.imagePost) }}"/>
    <meta property="og:description" content="{{ article.chapeau }}"/>
    <meta name="twitter:card" content="{{ article.titre }}"/>
    <meta name="twitter:site" content="{{ article.titre }}"/>
    <meta name="twitter:title" content="{{ article.titre }}"/>
    <meta name="twitter:description" content="{{ article.chapeau }}"/>
{% endblock %}

 {% block title %}{{ article.titre }}{% endblock %}

{% block main %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="article post ani_ fadeinup">
                    <div class="article-pic"><img src="{{ asset('uploads/' ~ article.auteur.photo) }}" alt=""></div>
                    <div class="article-foot">
                        {% for message in app.flashes('notice') %}
                            <h3 class="alert  alert-danger">
                            <button class="btn alt">{{ message }}</button>
                            </h3>
                        {% endfor %}
                        <h4>Written by <b>{{ article.auteur.nom ~" "~article.auteur.prenom  }}</b></h4><span>{{ article.dateCreation |date('d-m-Y') }}</span></div>
                </div>
                
                {{ article.contenu | raw }}
            </div>
        </div>
    </div>
</section>




<!-- Social Channels 
<section class="center">
    <div class="container no-pad-top">
        <div class="row">
            <div class="title-m">
                <h2>Share on social media</h2>
                <h3>Click a social channel below to share</h3>
            </div>
            <div class="col-md-12">
                <a href="#" class="social-icon"><i class="ion-social-linkedin-outline"></i></a>
                <a href="#" class="social-icon"><i class="ion-social-facebook"></i></a>
                <a href="#" class="social-icon"><i class="ion-social-twitter"></i></a>
                <a href="#" class="social-icon"><i class="ion-social-instagram"></i></a>
                <a href="#" class="social-icon"><i class="ion-social-youtube"></i></a>
                <a href="#" class="social-icon"><i class="ion-social-pinterest-outline"></i></a>
            </div>
        </div>
    </div>
</section>

-->

<!-- Comment Listing 
<section class="comment-list">
    <div class="container no-pad-top">
        <div class="row">
            <div class="title-m">
                <h2>5 Comments</h2>
                <h3>Join the discussion</h3>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="comment">
                    <img src="img/team/team1.jpg" alt="">
                    <h4>Person Name</h4>
                    <h5>24 Sep 2016</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Id tempore nostrum eveniet dolore doloribus temporibus
                        exercitationem laboriosam excepturi nesciunt, facere
                        voluptatem illum eos iste totam maxime illo ducimus
                        neque minus.</p>
                    <a class="reply" href="#">Reply</a>
                </div>
                <ul class="children">
                    <li>
                        <div class="comment">
                            <img src="img/team/team2.jpg" alt="">
                            <h4>Person Name</h4>
                            <h5>24 Sep 2016</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Id tempore nostrum eveniet dolore doloribus
                                temporibus exercitationem laboriosam excepturi
                                nesciunt, facere voluptatem illum eos iste
                                totam maxime illo ducimus neque minus.</p>
                            <a class="reply" href="#">Reply</a>
                        </div>
                        <ul class="children">
                            <li>
                                <div class="comment">
                                    <img src="img/team/team3.jpg" alt="">
                                    <h4>Person Name</h4>
                                    <h5>24 Sep 2016</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Id tempore nostrum
                                        eveniet dolore doloribus.</p>
                                    <a class="reply" href="#">Reply</a>
                                </div>
                                <div class="comment">
                                    <img src="img/team/team4.jpg" alt="">
                                    <h4>Person Name</h4>
                                    <h5>24 Sep 2016</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Id tempore nostrum
                                        eveniet dolore doloribus.</p>
                                    <a class="reply" href="#">Reply</a>
                                </div>
                                <div class="comment">
                                    <img src="img/team/team5.jpg" alt="">
                                    <h4>Person Name</h4>
                                    <h5>24 Sep 2016</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Id tempore nostrum
                                        eveniet dolore doloribus.</p>
                                    <a class="reply" href="#">Reply</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

-->
<!-- Contact Form -->
<section id="contact_form_1" class="grey">
    <div class="container">
        <div class="row">
                        {{ form_start(form) }}
                <div class="col-md-8 col-md-offset-2 center col-sm-12">
                            <h2>Leave your comment</h2>

                            {% if not form.vars.valid %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form_errors(form) }}
                                </div>
                            {% endif %} 
                       
                            <span class="input">
                                <label  for="input-10">
                                    <span > <i class="ion-person"></i> Nom</span>
                                </label>
                                
                                {{ form_widget(form.nom, {required: true, 'id': 'input-10', 'attr': {'placeholder': "Insérez votre nom"} }) }}
                                
                            </span>
                                
                            <span class="input">
                                <label  for="input-11">
                                <span > <i class="ion-person"></i> Prénom</span>
                                </label>
                                
                                {{ form_widget(form.prenom, {required: true, 'id': 'input-11','attr': {'placeholder': "Insérez votre prénom"} }) }}
                                
                            </span>
                    
                            <span class="input">
                              <label  for="input-12">
                              <span > <i class="ion-at"></i> Email</span>
                              </label>
                                {{ form_widget(form.email, { required: true, 'id': 'input-12','attr': {'placeholder': "hello@gmail.com"} }) }}
                              
                            </span>
                                
                            <span class="input">
                              <label  for="input-13">
                              <span > <i class="ion-at"></i> Numéro de téléphone</span>
                              </label>
                                {{ form_widget(form.telephone, {required: true, 'id': 'input-13','attr': {'placeholder': "Votre numéro de téléphone"} }) }}
                              
                            </span>
                    
                            <span class="input">
                                <label for="input-14">
                                <span><i class="ion-chatbubbles"></i> Message</span>
                                </label>
                                {{ form_widget(form.message, { required: true, 'id': 'input-14','attr': {'placeholder': "votre message"} }) }}
                            </span>

                            <span class="input">
                                {{ form_label(form.captcha) }}
                                 <div class="alert alert-danger">
                                    {{ form_errors(form.captcha) }}
                                </div>
                                
                                {{ form_widget(form.captcha) }}
                            </span>


                            
                    
                            <input type="submit" class="btn alt" value="soumettre">
                        
                    </div>
                
                 {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}

