<!-- Clients -->
    <section>
        <div class="container no-pad-top">
            <div class="row">
                <div class="title-m">
                    <h2>Ils nous ont fait confiance</h2>
                </div>
                <div class="clients col-md-12">
                    <div class="clientpics">
                        <a title="Mansel Hôtel" class="col-xs-6 col-sm-15 client_pic ani_ fadeinup" target="_blank" data-delay=".1" href="https://www.hotelmansel.com/index.php?a=home&lang=fr"><img src="{{ asset('img/client_1.png') }}" alt=""></a>
                        <a title="Vision 4" class="col-xs-6 col-sm-15 client_pic ani_ fadeinup" target="_blank" data-delay=".2" href="http://vision4tv.com/"><img src="{{ asset('img/client_2.png') }}" alt=""></a>
                        <a title="E Consulting Enternational"  class="col-xs-6 col-sm-15 client_pic ani_ fadeinup" target="_blank" data-delay=".4" href="https://www.econsultinginternational.com/"><img src="{{ asset('img/client_3.png') }}" alt=""></a>
                        <a title="Service jésuite des réfugiés"  class="col-xs-6 col-sm-15 client_pic ani_ fadeinup" target="_blank" data-delay=".6" href="https://jrs.net/fr/pays/cameroun/"><img src="{{ asset('img/JRS.png') }}" alt=""></a>
                        <a title="UBA"   class="col-xs-6 col-sm-15 client_pic ani_ fadeinup" target="_blank" data-delay=".8" href="https://www.ubacameroon.com/"><img src="{{ asset('img/uba.png') }}" alt="UBA Cameroun"></a>


                        <a title="Hopital de district d'Efoulan"  class="col-xs-6 col-sm-15 client_pic ani_ fadeinup" target="_blank" data-delay=".4" href="#"><img src="{{ asset('img/hde.png') }}" alt=""></a>
                        <a title="La Fédération des Ecoles et Maisons Familiales Rurales du Cameroun" class="col-xs-6 col-sm-15 client_pic ani_ fadeinup" target="_blank" data-delay=".6" href="https://femefarc-cm.org"><img src="{{ asset('img/femefarc.png') }}" alt=""></a>
                        <a title="Hotels Jouvence International" class="col-xs-6 col-sm-15 client_pic ani_ fadeinup" target="_blank" data-delay=".8" href="https://hotelsjouvenceinternational.com/"><img src="{{ asset('img/hotels_jouvence_international.png') }}" alt="Hôtel Jouvence International"></a>
                        <a title="Mont Cameroun Tobacco" class="col-xs-6 col-sm-15 client_pic ani_ fadeinup" target="_blank" data-delay=".6" href="#"><img src="{{ asset('img/mct.png') }}" alt="Mont Cameroun Tobacco"></a>
                        <a title="Safari Hôtel" class="col-xs-6 col-sm-15 client_pic ani_ fadeinup" target="_blank" data-delay=".8" href="http://www.safarihotel-cm.com/"><img src="{{ asset('img/safari_hotel.png') }}" alt="Safari Hôtel"></a>

                    </div>
                </div>
            </div>
        </div>
    </section>